@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
* {
    font-family: 'Courier New', Courier, monospace;
}

body{
    margin: 0px;
    padding: 0px;
    background-color: orchid;
}
.container{
    margin: auto;
    width: 960px;
    height: 650px;
    padding: 5px;
    /*background-color: blue;*/
}
.logo{
    width: 100%;
    float: left;
    /*background-color: red;*/
}
.titulo {
    text-align: center;
    margin: 10px auto;
    font-weight: bold;
}
.left{
    float: left;
    width: 70%;
    height: 70%;
    border-radius: 24px;
    /*background-color: yellow;*/
}
.right{
    float: left;
    width: 28%;
    height: 85%;
    background: white;
}

.left-button{
    float: left;
    width: 70%;
    height: auto;
    border-radius: 24%;
    /*background-color: pink;*/
}
.mensaje {
    
width: 205px;
height: 18px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 150%;
/* identical to box height, or 18px */


/* Gray/gray-400 */

color: blue;


/* Inside auto layout */

flex: none;
order: 1;
flex-grow: 0;
}
.logoImg{
    margin-top: 1%;
    margin-left: 5%;
    float: inherit;
}
.tittle{
    float: inherit;
    margin-left: 20%;

}
.text-input{
    float: left;
    margin-left: 7%;
    margin-top: 6%;
    width: 85%;
    height: 110%;
    color:darkblue ;
    font-size: 30px;
    border: crimson;
    outline: none;
    text-align: center;
}


#imgDer{
    margin-left: 3%;
    margin-top: 30%;
    width: 80%;
    height: 80%;
}
}
#texto{
    margin-left: 7%;
    margin-right: 5%;
}
#texto2{
    float: left;
    margin-left: 0%;
    color: sandybrown;
    width: 99%;
    height: 60%;
    border: none;
    outline: none;
    font-size: 15px;
}
#btn-encriptar{
    padding: 16px;
    width: 20%;
    height: 60%;
    border-radius: 24px;
    margin-left: 15%;
    background: #0A3871;
    color: white;
    /*background: #0A3871*/
    
}
#btn-desencriptar{
    padding: 16px;
    width: 20%;
    height: 60%;
    border-radius: 24px;
    margin-left: 10%;
    color: #0A3871;
    /*background:#D8DFE8;*/
}

#copiar{
    margin-left: 33%;
    margin-top: 90%;
    padding: 16px;
    width: 40%;
    height: 10%;
    /*background: #D8DFE8;*/
    border-radius: 24px;
    display: none;
  

}
